@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap");

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

:root {
  --lexendfont: "Lexend", sans-serif;
}

h1 {
  font-family: var(--lexendfont);
}
.Space {
  width: 100%;
  height: 60px;
}
